<p>dashboard works!</p>
<hr/>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <div>
      <h4>Hello {{fullName}}</h4>
    </div>
    <!-- <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> -->
  </div>
</nav>
<hr>
<button class="btn btn-primary" (click)="logout()">Logout</button>

<!--only admin see list-->
<ng-container *ngIf="role === 'Admin'">
  <ul *ngFor="let user of users">
    <li>{{user.userName}}</li>
  </ul>
</ng-container>

<!--Menu-->
<div>
  <a *ngIf="displayAdmin" href="" class="p-2">Page for admin</a>
  <a *ngIf="displayUser" href="" class="p-2">Page for user</a>
  <a href="" class="p-2">Page for staff</a>
</div>
<hr>
<div>
  <a *ngFor="let item of menuList$" class="p-2">{{item}}</a>
</div>

